## Build output
bin/
obj/
out/

## User-specific files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Logs
*.log

## OS files
.DS_Store
Thumbs.db

## NuGet
*.nupkg
*.snupkg
packages/

## EF Core / local db
*.db
*.db-shm
*.db-wal

## Environment files
appsettings.Development.json
.env
